*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0F172A;
  background: #FFFFFF;
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
